
header {
    height: 70px;
}

nav {
    width: 150px;
    height: calc(100vh - 70px);
    
    /* test */
    background-color: #071f36;
}

main {
    height: calc(100vh - 70px);
    width: calc(100% - 150px);
}


.my-mobile-logo {
    max-height: 50px;
}

.my-nav-hover:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.my-boolean-section {
     background-color: #1b72e8;
}

.my-btn  {
    background-color: #165bba;
    font-size: 0.6em;
}

.my-prossime-classi {
    background-color: lightgrey;
}

@media screen and (max-width: 767px ) {
    nav {
        width: 70px;
    }

    main {
    height: calc(100vh - 70px);
    width: calc(100% - 70px); 
}
    .offcanvas.offcanvas-end {
        width: 100%;
    }

}
@media screen and (max-width: 578px) {
    nav {
        width: 70px;
    }

    main {
    height: calc(100vh - 70px);
    width: calc(100% - 70px);

}

    .offcanvas.offcanvas-end {
        width: 100%;
    }

}



