
header {
    height: 70px;
}

nav {
    width: 150px;
    height: calc(100vh - 70px);
    
    /* test */
    background-color: blue;
}

main {
    height: calc(100vh - 70px);
    width: calc(100% - 150px);

    /* test */
    background-color: aqua;
}


.my-mobile-logo {
    max-height: 50px;
}
